<div class="newsletter mt-5 p-5 text-center">
    <div class="mt-3">
        <h3>Subscribe to Our Newsletter</h3>
    </div>
    <form class="d-flex ms-auto mx-auto mb-3 mt-3">
        <div class="input-group">
            <input type="email" class="form-control shadow-none" placeholder="Your Email" aria-label="email" required>
            <button class="btn btn-subscribe" type="submit">
                <span class="material-icons align-middle">
                    email
                </span>
                <span class="align-middle">
                    Subscribe
                </span>
            </button>
        </div>
    </form>
</div>