<app-newsletter></app-newsletter>

<div class="footer p-5 pb-1 pt-3 text-center">
  <div class="social-links d-flex justify-content-center">
    <a class="me-5" href="#">Home</a>
    <a class="me-5" href="#">Contact</a>
    <a class="" href="#">Blog</a>
  </div>
  <hr>
  <div class="logo mt-3 mb-3">
    <img src="assets/images/full-logo.svg" alt="Logo" />
  </div>
  <div class="social-icons d-flex justify-content-center">
    <a class="me-5" href="#">
      <span class="iconify" data-icon="bi:facebook" data-width="25"></span>
    </a>
    <a class="me-5" href="#">
      <span class="iconify" data-icon="bi:twitter" data-width="25"></span>
    </a>
    <a class="" href="#">
      <span class="iconify" data-icon="bi:instagram" data-width="25"></span>
    </a>
  </div>
  <div class="copyright user-select-none mt-3">
    <p>Copyright &copy; 2022 <strong>VELOX</strong>. All Rights Reserved</p>
  </div>
</div>