<div class="footer">
  <div class="links">
    <a href="#">Home</a>
    <a href="#">Contact</a>
    <a href="#">Blog</a>
  </div>
  <hr />
  <div class="logo">
    <img src="../../../assets/images/full-logo.png" alt="Logo" />
  </div>
  <div class="icons">
    <a href="#">
      <span class="iconify" data-icon="foundation:social-facebook" data-width="40"></span>
    </a>
    <a href="#">
      <span class="iconify" data-icon="foundation:social-path" data-width="40"></span>
    </a>
    <a href="#">
      <span class="iconify" data-icon="foundation:social-twitter" data-width="40"></span>
    </a>
    <a href="#">
      <span class="iconify" data-icon="simple-line-icons:social-instagram" data-width="35"></span>
    </a>
  </div>
  <div class="cp">
    <p>Copyright &copy; 2022 Team 1 🤩</p>
  </div>
</div>
