* {
  border-radius: 0;
}

.navbar {
  background-color: var(--white);
}

.btn {
  padding-top: 5px;
  padding-bottom: 5px;
}

.btn-search {
  background-color: var(--lighter-green);
  color: var(--white)
}

.btn-search:hover {
  background-color: var(--green);
}

.btn-register:hover {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: transparent;
  /* box-shadow: inset 0px 0px 0px 1px var(--black); */
  color: var(--black);
}

.btn-register {
  color: var(--white);
  /* box-shadow: none; */
  background-color: var(--red);
}

.btn-login:hover {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: transparent;
  /* box-shadow: inset 0px 0px 0px 1px var(--black); */
  color: var(--black);
}

.btn-login {
  color: var(--white);
  /* box-shadow: none; */
  background-color: var(--green);
}