<nav class="navbar sticky-top d-flex justify-content-between">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="assets/images/full-logo.svg" alt="logo" width="155vh">
    </a>
    <form class="d-flex" role="search">
      <input class="form-control shadow-none me-2" type="search" placeholder="Search..." aria-label="Search">
      <button class="btn btn-search">Search</button>
    </form>
    <ul class="nav navbar-nav flex-row">
      <li class="nav-item me-3">
        <a class="btn btn-register" href="register">
          Register
        </a>
      </li>
      <li class="nav-item me-3">
        <a class="btn btn-login" href="login">
          Login
        </a>
      </li>
      <!-- <li class="nav-item me-3">
        <a class="" href="#">
          <app-cart [items]="items"></app-cart>
        </a>
      </li> -->
      <!-- <li class="nav-item me-3">
        <a class="" href="#">
          <app-cart [items]="0"></app-cart>
        </a>
      </li> -->
    </ul>
  </div>
</nav>