<div id="pageCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#pageCarousel" data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#pageCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#pageCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#pageCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" style="background-image: url('assets/images/women.jpg')">
            <div class="carousel-caption">
                <h5 class="mb-3">Women's Clothing</h5>
                <a href="categories/women" class="btn">Shop Now</a>
            </div>
        </div>
        <div class="carousel-item" style="background-image: url('assets/images/men.jpg')">
            <div class="carousel-caption">
                <h5 class="mb-3">Men's Clothing</h5>
                <a href="categories/men" class="btn">Shop Now</a>
            </div>
        </div>
        <div class="carousel-item" style="background-image: url('assets/images/jewelery.jpg')">
            <div class="carousel-caption">
                <h5 class="mb-3">Jewelery</h5>
                <a href="categories/jewelery" class="btn">Shop Now</a>
            </div>
        </div>
        <div class="carousel-item" style="background-image: url('assets/images/electronics.jpg')">
            <div class="carousel-caption">
                <h5 class="mb-3">Electronics</h5>
                <a href="categories/electronics" class="btn">Shop Now</a>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#pageCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#pageCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>