* {
    border-radius: 0;
}

.btn {
    background-color: var(--green);
    border: 0;
}

.btn:hover {
    background-color: var(--black);
}

.btn-home {
    background-color: var(--green);
    color: var(--white);
    border: 0;
}

.btn-home:hover {
    background-color: var(--black);
}

.btn-dismiss {
    background-color: var(--red);
    color: var(--white);
    border: 0;
}

.btn-dismiss:hover {
    background-color: var(--black);
}

.cntrl {
    cursor: pointer;
    border: 1px solid var(--black);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.3rem;
    height: .9rem;
}

.del {
    cursor: pointer;
    color: var(--red);
}