* {
    border-radius: 0;
}

img {
    width: 100%;
}

.card-text {
    font-weight: 500;
    font-size: 17px;
    position: absolute;
    bottom: 42.5%;
    height: 17%;
    width: 100%;
    background: rgba(25, 25, 25, 0.455);
    color: #fff;
}