<div class="album text-center my-5">
    <h3><strong>Shop by Category</strong></h3>
    <div class="container d-flex justify-content-center">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">

            <div class="col-6">
                <a href="#">
                    <div class="card">
                        <div class="card-body">
                            <img class="img img-fluid" src="assets/images/fashion.jpg">
                        </div>
                        <div class="d-flex flex-column justify-content-center card-text">
                            Women's Clothing
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-6">
                <a href="#">
                    <div class="card">
                        <div class="card-body">
                            <img class="img img-fluid" src="assets/images/men.jpg">
                        </div>
                        <div class="d-flex flex-column justify-content-center card-text">
                            Men's Clothing
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-6">
                <a href="#">
                    <div class="card">
                        <div class="card-body">
                            <img class="img img-fluid" src="assets/images/jewelery.jpg">
                        </div>
                        <div class="d-flex flex-column justify-content-center card-text">
                            Jewelery
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-6">
                <a href="#">
                    <div class="card">
                        <div class="card-body">
                            <img class="img img-fluid" src="assets/images/electronics.jpg">
                        </div>
                        <div class="d-flex flex-column justify-content-center card-text">
                            Electronics
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</div>