<mat-nav-list>
    <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon> <span class="nav-caption">{{action1}}</span>
    </a>

    <a mat-list-item routerLink="#" (click)="onSidenavClose()">
        <mat-icon >login</mat-icon><span class="nav-caption">{{action2}}</span>
    </a>

    
    <a mat-list-item routerLink="#" (click)="onSidenavClose()">
        <mat-icon>account_balance</mat-icon><span class="nav-caption">Account Actions</span>
    </a>

    <a mat-list-item routerLink="#" (click)="onSidenavClose()">
        <mat-icon>settings</mat-icon><span class="nav-caption">{{action3}}</span>
    </a>

    <a mat-list-item routerLink="#" (click)="onSidenavClose()">
        <mat-icon>shopping_cart</mat-icon><span class="nav-caption">{{action6}}</span>
    </a>

<a mat-list-item routerLink="#" (click)="onSidenavClose()">
        <mat-icon>logout</mat-icon><span class="nav-caption">{{action4}}</span>
    </a>
    <a mat-list-item routerLink="#" (click)="onSidenavClose()">
        <mat-icon>perm_phone_msg</mat-icon><span class="nav-caption">{{action5}}</span>
    </a>
    

    <a mat-list-item routerLink="#" (click)="onSidenavClose()">
        <mat-icon>production_quantity_limits</mat-icon><span class="nav-caption">{{action7}}</span>
    </a>
     </mat-nav-list>



























