<app-header [user]="false"></app-header>
<section class="my-5">
    <div class="container">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="labels">
                <span class="new" *ngIf="prod.new">
                    <span class="material-icons align-middle fs-6">
                        add_circle
                    </span>
                    <span class="align-middle"> NEW</span>
                </span>
                <span class="discount" *ngIf="prod.discount">
                    <span class="material-icons align-middle fs-6">
                        discount
                    </span>
                    <span class="align-middle"> %{{ prod.discount }} OFF</span>
                </span>
            </div>
            <div class="col-md-6 text-center">
                <img class="mb-5 mb-md-0 img-fluid prod-img " [src]="prod.image" />
            </div>
            <div class="col-md-6">
                <h3 class="fw-bold">{{ prod.title }}</h3>
                <div class="fs-5 mb-3">
                    <div class="mb-3">
                        <app-rating [rating]="prod.rating.rate" [numRatings]="prod.rating.count"></app-rating>
                    </div>
                    <div class="mb-3" *ngIf="!prod.discount">
                        <h5 class="card-text price">
                            ${{ prod.price }}
                        </h5>
                    </div>
                    <div class="mb-3" *ngIf="prod.discount">
                        <h5 class="card-text text-decoration-line-through me-3 text-muted d-inline">
                            <small>
                                ${{ prod.price }}
                            </small>
                        </h5>
                        <h5 class="card-text d-inline">
                            ${{ prod.price - (prod.price * prod.discount / 100) | number: '1.1-2' }}
                        </h5>
                    </div>
                </div>
                <div class="d-flex mb-3">
                    <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1"
                        style="max-width: 3rem" />
                    <a class="btn btn-primary btn-block btn-wished me-3" *ngIf="isInWishList(prod.id)"
                        (click)="removeWish(prod.id)">
                        <span class="material-icons-outlined align-middle fs-5">
                            favorite
                        </span>
                        <span class="align-middle"> Remove Item</span>
                    </a>
                    <a class="btn btn-primary btn-block btn-wish me-3" *ngIf="!isInWishList(prod.id)"
                        (click)="addWish(prod.id)">
                        <span class="material-icons-outlined align-middle fs-5">
                            favorite_border
                        </span>
                        <span class="align-middle"> Add to Wishlist</span>
                    </a>
                    <a class="btn btn-primary btn-block disabled" *ngIf="prod.qty === 0">
                        <span class="material-icons-outlined align-middle fs-5">
                            shopping_cart
                        </span>
                        <span class="align-middle"> Add to Cart</span>
                    </a>
                    <a class="btn btn-primary btn-block" *ngIf="prod.qty > 0" (click)="decQuantity(prod.id)">
                        <span class="material-icons-outlined align-middle fs-5">
                            shopping_cart
                        </span>
                        <span class="align-middle"> Add to Cart</span>
                    </a>
                </div>
                <p class="lead">
                    {{ prod.description }}
                </p>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>