<div class="container">
    <div class="row" style="">
        <!-- <div class="col-md-6">
            <div class="d-flex flex-column justify-content-center">
                <div class="main_image">
                    <img src="assets/images/tmp/bx-slider1.jpg" id="main_product_image" width="350">
                </div>
                <div class="thumbnail_images mt-3">
                    <ul id="thumbnail">
                        <li class="d-flex justify-content-between me-3"><img onclick="changeImage(this)"
                                src="assets/images/tmp/bx-slider1.jpg" width="70"></li>
                        <li class="d-flex justify-content-between me-3"><img onclick="changeImage(this)"
                                src="assets/images/tmp/bx-slider2.jpg" width="70"></li>
                        <li class="d-flex justify-content-between me-3"><img onclick="changeImage(this)"
                                src="assets/images/tmp/bx-slider3.jpg" width="70"></li>
                        <li class="d-flex justify-content-between"><img onclick="changeImage(this)"
                                src="assets/images/tmp/bx-slider4.jpg" width="70"></li>
                    </ul>
                </div>
            </div>
        </div> -->
        <div class="col-md-6">
            <div class="p-5 right-side">
                <h3>IIlana</h3>
                <div class="mt-2 pr-3 content">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua
                    </p>
                </div>
                <h3>$430.99</h3>
                <app-rating></app-rating>
                <div class="buttons d-flex flex-row mt-5 gap-3">
                    <a class="btn btn-primary btn-block btn-wish me-3">
                        <span class="material-icons-outlined align-middle fs-5">
                            favorite_border
                        </span>
                        <span class="align-middle"> Add to Wishlist</span>
                    </a>
                    <a class="btn btn-primary btn-block">
                        <span class="material-icons-outlined align-middle fs-5">
                            shopping_cart
                        </span>
                        <span class="align-middle"> Add to Cart</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>