<section class="product-area most-popular related-product section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title">
            <h2>Related Products</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="owl-carousel popular-slider">
            <!-- Start Single Product -->
            <div class="single-product">
              <div class="product-img">
                <a href="#">
                  <img
                    class="default-img"
                    src="assets/images/products/p15.jpg"
                    alt="#"
                  />
                  <img
                    class="hover-img"
                    src="assets/images/products/p16.jpg"
                    alt="#"
                  />
                  <span class="out-of-stock">Hot</span>
                </a>
                <div class="button-head">
                  <div class="product-action">
                    <a
                      data-toggle="modal"
                      data-target="#exampleModal"
                      title="Quick View"
                      href="#"
                      ><i class="ti-eye"></i><span>Quick Shop</span></a
                    >
                    <a title="Wishlist" href="#"
                      ><i class="ti-heart"></i><span>Add to Wishlist</span></a
                    >
                    <a title="Compare" href="#"
                      ><i class="ti-bar-chart-alt"></i
                      ><span>Add to Compare</span></a
                    >
                  </div>
                  <div class="product-action-2">
                    <a title="Add to cart" href="#">Add to cart</a>
                  </div>
                </div>
              </div>
              <div class="product-content">
                <h3><a href="#">Black Sunglass For Women</a></h3>
                <div class="product-price">
                  <span class="old">$60.00</span>
                  <span>$50.00</span>
                </div>
              </div>
            </div>
            <!-- End Single Product -->
            <!-- Start Single Product -->
            <div class="single-product">
              <div class="product-img">
                <a href="#">
                  <img
                    class="default-img"
                    src="assets/images/products/p1.jpg"
                    alt="#"
                  />
                  <img
                    class="hover-img"
                    src="assets/images/products/p2.jpg"
                    alt="#"
                  />
                </a>
                <div class="button-head">
                  <div class="product-action">
                    <a
                      data-toggle="modal"
                      data-target="#exampleModal"
                      title="Quick View"
                      href="#"
                      ><i class="ti-eye"></i><span>Quick Shop</span></a
                    >
                    <a title="Wishlist" href="#"
                      ><i class="ti-heart"></i><span>Add to Wishlist</span></a
                    >
                    <a title="Compare" href="#"
                      ><i class="ti-bar-chart-alt"></i
                      ><span>Add to Compare</span></a
                    >
                  </div>
                  <div class="product-action-2">
                    <a title="Add to cart" href="#">Add to cart</a>
                  </div>
                </div>
              </div>
              <div class="product-content">
                <h3><a href="#">Women Hot Collection</a></h3>
                <div class="product-price">
                  <span>$50.00</span>
                </div>
              </div>
            </div>
            <!-- End Single Product -->
            <!-- Start Single Product -->
            <div class="single-product">
              <div class="product-img">
                <a href="#">
                  <img
                    class="default-img"
                    src="assets/images/products/p3.jpg"
                    alt="#"
                  />
                  <img
                    class="hover-img"
                    src="assets/images/products/p4.jpg"
                    alt="#"
                  />
                  <span class="new">New</span>
                </a>
                <div class="button-head">
                  <div class="product-action">
                    <a
                      data-toggle="modal"
                      data-target="#exampleModal"
                      title="Quick View"
                      href="#"
                      ><i class="ti-eye"></i><span>Quick Shop</span></a
                    >
                    <a title="Wishlist" href="#"
                      ><i class="ti-heart"></i><span>Add to Wishlist</span></a
                    >
                    <a title="Compare" href="#"
                      ><i class="ti-bar-chart-alt"></i
                      ><span>Add to Compare</span></a
                    >
                  </div>
                  <div class="product-action-2">
                    <a title="Add to cart" href="#">Add to cart</a>
                  </div>
                </div>
              </div>
              <div class="product-content">
                <h3><a href="#">Awesome Pink Show</a></h3>
                <div class="product-price">
                  <span>$50.00</span>
                </div>
              </div>
            </div>
            <!-- End Single Product -->
            <!-- Start Single Product -->
            <div class="single-product">
              <div class="product-img">
                <a href="#">
                  <img
                    class="default-img"
                    src="assets/images/products/p5.jpg"
                    alt="#"
                  />
                  <img
                    class="hover-img"
                    src="assets/images/products/p6.jpg"
                    alt="#"
                  />
                </a>
                <div class="button-head">
                  <div class="product-action">
                    <a
                      data-toggle="modal"
                      data-target="#exampleModal"
                      title="Quick View"
                      href="#"
                      ><i class="ti-eye"></i><span>Quick Shop</span></a
                    >
                    <a title="Wishlist" href="#"
                      ><i class="ti-heart"></i><span>Add to Wishlist</span></a
                    >
                    <a title="Compare" href="#"
                      ><i class="ti-bar-chart-alt"></i
                      ><span>Add to Compare</span></a
                    >
                  </div>
                  <div class="product-action-2">
                    <a title="Add to cart" href="#">Add to cart</a>
                  </div>
                </div>
              </div>
              <div class="product-content">
                <h3><a href="#">Awesome Bags Collection</a></h3>
                <div class="product-price">
                  <span>$50.00</span>
                </div>
              </div>
            </div>
            <!-- End Single Product -->
          </div>
        </div>
      </div>
    </div>
  </section>
  