<!-- <app-header [cart]="cart" [wish]="wish"></app-header>
<app-carousel></app-carousel> -->

<div class="album py-5">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col-12" *ngFor="let product of allProducts">
        <div class="card text-center">
          <div class="labels">
            <span class="discount" *ngIf="!product.new && product.discount">
              <span class="material-icons align-middle fs-6">
                discount
              </span>
              <span class="align-middle"> %{{ product.discount }} OFF</span>
            </span>
            <span class="discount" *ngIf="product.new && product.discount" style="left: 4.3rem;">
              <span class="material-icons align-middle fs-6">
                discount
              </span>
              <span class="align-middle"> %{{ product.discount }} OFF</span>
            </span>
            <span class="new" *ngIf="product.new">
              <span class="material-icons align-middle fs-6">
                add_circle
              </span>
              <span class="align-middle"> NEW</span>
            </span>
          </div>
          <a href="product/{{product.id}}">
          <div class="card-body">
              <img class="card-img img-fluid prod-img" [src]="product.image" />
          </div>
          </a>
          <div class="card-body mt-3">
            <h5 class="card-title" title="{{ product.title }}">
              {{ (product.title.length>25) ? (product.title | slice:0:25) + '...' : (product.title) }}
            </h5>
            <hr>
            <div class="d-flex justify-content-center mb-3" *ngIf="!product.discount">
              <h5 class="card-text price">
                ${{ product.price }}
              </h5>
            </div>
            <div class="d-flex justify-content-center mb-3" *ngIf="product.discount">
              <h5 class="card-text text-decoration-line-through me-3 text-muted">
                <small>
                  ${{ product.price }}
                </small>
              </h5>
              <h5 class="card-text">
                ${{ product.price - (product.price * product.discount / 100) | number: '1.1-2' }}
              </h5>
            </div>
            <div class="d-flex justify-content-center">
              <a class="btn btn-primary btn-block btn-wished me-3" *ngIf="isInWishList(product.id)"
                (click)="removeWish(product.id)">
                <span class="material-icons-outlined align-middle fs-5">
                  favorite
                </span>
                <span class="align-middle"> Remove Item</span>
              </a>
              <a class="btn btn-primary btn-block btn-wish me-3" *ngIf="!isInWishList(product.id)"
                (click)="addWish(product.id)">
                <span class="material-icons-outlined align-middle fs-5">
                  favorite_border
                </span>
                <span class="align-middle"> Add to Wishlist</span>
              </a>
              <a class="btn btn-primary btn-block disabled" *ngIf="product.qty === 0">
                <span class="material-icons-outlined align-middle fs-5">
                  shopping_cart
                </span>
                <span class="align-middle"> Add to Cart</span>
              </a>
              <a class="btn btn-primary btn-block" *ngIf="product.qty > 0" (click)="decQuantity(product.id)">
                <span class="material-icons-outlined align-middle fs-5">
                  shopping_cart
                </span>
                <span class="align-middle"> Add to Cart</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>